*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 1200px;
    margin: auto;
  
}
.menu{
    display: flex;
        padding-top: 40px;
    padding-bottom: 40px;
    justify-content: space-between;
    align-items: center;
}

/*Header Starts */

nav ul{
    list-style: none;
    display: flex;
}

nav ul li a{
    text-decoration: none;
    color: #787878;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 18px;
}
/*Header Ends */

/*Section 1 Starts */

/* .banner{
    background-image: url(../images/banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
   height: 90vh;
}
*/
.banner img{
    width: 100%;
}
/*Section 1 Ends */

/* Section 2 Starts*/
.content{
    padding: 40px 0;
}
.content h3{
    color: #D9D9D4;
   
}
.content h1{
    color: #636363;
    padding: 20px 0;
}
.content p{
    color: #7D7D7D;
     padding: 15px 0;
     font-size: 20px;
}
/* Section 2 Ends*/

/* Section 3 Starts*/
.row1{
    display: flex;
}
.gallary01{
    padding: 15px;
}
.gallary01 img{
    width: 100%;
}
.gallary02{
    padding: 15px;
}
.gallary02 img{
    width: 100%;
}

.description h3{
    color: #D9D9D4;
    padding: 20px 0;
   
}
.description h1{
    color: #636363;
    padding-bottom: 10px;
}
.description p{
    color: #7D7D7D;
     padding: 15px 0;
     font-size: 20px;
}

.row2{
    display: flex;
}
.row3{
    display: flex;
}
/* Section 3 Ends*/

/* Footer Starts*/
footer{
    background-color: #F0F0F0;
    padding: 30px 0;
   
}
.foot{
     display: flex;
    justify-content: space-between;
}
.terms ul{
    list-style: none;
    display: flex;
}
.terms ul li{
    margin-right: 20px;
}
.terms ul li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 20px;
}
.socials ul{
    list-style: none;
    display: flex;
    
}
.socials ul li{
    margin-left: 20px;
}
.socials a{
    text-decoration: none;
    color: #3A3A3A;
}
.socials i{
    color: #7D7D7D;
}
/* Footer Ends*/